{plugins, [relflow]}.

{erl_opts, [debug_info]}.

{relx, [
    {release, {'countess',
    "20150720.222410" %% relflow-release-version-marker
    }, ['countess', sasl]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

